.container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 30px 0px;
    flex-shrink: 0;
}

.container__box{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container__item1 {
    text-decoration: underline;
}

.container__item2 {
    cursor: default;
}

.container__item3 {
    padding-bottom: 3px;
}


