.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    height: 100vh; 
    margin-top: 4.375rem;
    border: 1px solid black;
}

.buttonContainer {
    display: flex; 
    justify-content: center;
    width: 100%; 
}

.arrowButton {
    background-color: transparent;
    border: none;
    font-size: 1.375rem; 
    cursor: pointer;
}

.arrowButton:hover {
    color:var(--primary-color);
}

.counter {
    margin-top: .625rem;
}