.container {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--primary-color);
    margin: 0px 0px .625rem 0px;
    border-bottom: 3.125rem;
    color: white;
    cursor: pointer;
}

.container_main {
    flex: 1 1 auto;
    border: 1px solid black;
}

.link {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

.link:hover {
    color: #972fff;
}