@import "variables";

container {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background-color: var(--primary-color);
    margin: 0px 0px .625rem 0px;
    color: white;
}
.navigation__ul{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}
li {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

.link__trainer:hover {
    color: #8e58f9;
}

.link__trainer {
    position: relative;
}

.link__trainer::after {
    content: ""; 
    position: absolute; 
    left: 50%; 
    bottom: -5px;
    width: 0; 
    height: 2px; 
    background-color: #8e58f9; 
    transition: width 0.4s ease, left 0.4s ease;
}

.link__trainer:hover::after {
    width: 100%; 
    left: 0; 
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{ 
	flex-grow: 1;
}