.notification {
    position: fixed;
    height: 12.5rem;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: red; 
    color: white; 
    padding: 1.25rem; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(65, 4, 4, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}