@import "variables";

.table_container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
}

.table th,
.table td {
padding: .875rem;
text-align: center;
}

.table th {
    background-color: var(--primary-color);
    color: white;
}

.table tr:hover {
    background-color: #82afea;
}

.table td:last-child {
    width: 10.625rem;
}